.productInfo {    
    margin: 10px; 
    padding: 10px;
    margin-top: 50px;
    background-color:#011936 !important;
}

img.largeImage {    
    width: 500px !important; 
    height: 500px !important;   
}
div.largeImage {

    box-shadow: none;  
    background-color:#011936;
}

.productName {    
    font-size: 3em !important;
    color: #C2EABD;
}

.productLabel {
    font-weight: bold !important;
    color: #fafafa !important;
}

.selectLabel {
    color: #fafafa !important;
}
 
.productGrid { 
    flex-grow: 1;
    color: #fafafa;
}

.dollars:before {  
    content:'$'; 
}

.crossedout {
    text-decoration: line-through;
    color: #ED254E;
}

.addCartButton {
    background-color: #ED254E !important;
    color: #fafafa !important;
}